
.jian_kang_guan_li  {
    position:absolute;
width:5.000000rem;
height:10.826667rem;
opacity:1;
background-color:rgba(244,244,244,1);
line-height:normal;

}
.jian_kang_guan_li .Rectangle_3465233_1  {
    position:absolute;
top:6.173333rem;
width:5.000000rem;
height:4.653333rem;
opacity:1;
background:linear-gradient(0deg, rgba(250,251,253,1) 0%,rgba(250,251,253,1) 0%,rgba(232,236,247,1) 10.000000149011612%,rgba(232,236,247,1) 10.000000149011612%);
border-radius:0.186667rem;
line-height:normal;
border-color:rgba(255,255,255,1);
border-width:0.013333rem;
border-style:solid;

}
.jian_kang_guan_li .ju_xing_933_1  {
    fill:none;
width:5.000000rem;
height:4.738971rem;
stroke-width:1;
position:absolute;
top:-0.005639rem;
background:linear-gradient(0deg, rgba(244,244,244,1) 0%,rgba(244,244,244,1) 0%,rgba(169,235,218,1) 100%,rgba(169,235,218,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Rectangle_3465233_2  {
    fill:none;
width:4.573333rem;
height:1.226667rem;
stroke-width:1;
position:absolute;
left:0.213333rem;
top:2.360000rem;
background:linear-gradient(0.7303402023852829deg, rgba(119,234,206,1) 191.7355675816163%,rgba(119,234,206,1) 191.7355675816163%,rgba(25,162,128,1) 678.8381962552797%,rgba(25,162,128,1) 678.8381962552797%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_170 .Vector_171  {
    fill:none;
width:0.352676rem;
height:0.373333rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
opacity:0.4000000059604645;
line-height:normal;

}
.jian_kang_guan_li .Vector_170 .Vector_172  {
    fill:none;
width:0.352676rem;
height:0.373333rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
opacity:0.4000000059604645;
line-height:normal;

}
.jian_kang_guan_li .Vector_170 .Vector_173  {
    fill:none;
width:0.352676rem;
height:0.373333rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
opacity:0.4000000059604645;
line-height:normal;

}
.jian_kang_guan_li .Vector_170 .Vector_174  {
    fill:none;
width:0.352676rem;
height:0.373333rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,0.3400000035762787) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
opacity:0.4000000059604645;
line-height:normal;

}
.jian_kang_guan_li .Rectangle_3465230_1  {
    position:absolute;
left:0.213333rem;
top:3.000000rem;
width:4.573333rem;
height:1.386667rem;
opacity:1;
background-color:rgba(255,255,255,0.6399999856948853);
border-radius:0.132560rem;
line-height:normal;
border-color:rgba(255,255,255,1);
border-width:0.006628rem;
border-style:solid;

}
.jian_kang_guan_li .Polygon_2  {
    fill:none;
width:0.334863rem;
height:0.090000rem;
stroke-width:1;
position:absolute;
left:2.320000rem;
top:2.360000rem;
transform:rotateX(180deg);
background:linear-gradient(12.15049480639633deg, rgba(119,234,206,1) -142.28859940984805%,rgba(119,234,206,1) -142.28859940984805%,rgba(25,162,128,1) 69.9543758373407%,rgba(25,162,128,1) 69.9543758373407%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .____1  {
    position:absolute;
left:0.986667rem;
top:1.680000rem;
width:1.733333rem;
height:0.213333rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.213333rem;
font-size:0.213333rem;

}
.jian_kang_guan_li .Group_1000007195 .Frame_1739330068 .Frame_1739330068_1  {
    position:absolute;
width:0.613333rem;
height:0.613333rem;
opacity:1;
background-color:rgba(35,179,87,1);
border-radius:0.546667rem;
line-height:normal;
border-color:rgba(136,213,98,1);
border-width:0.013333rem;
border-style:solid;
overflow:hidden;

}
.jian_kang_guan_li .Group_1000007195 .Frame_1739330068 .image_2983  {
    
}
.jian_kang_guan_li .shang_chuan_wen_jian_da_yin_1  {
    position:absolute;
left:0.373333rem;
top:2.560000rem;
width:0.986667rem;
height:0.240000rem;
opacity:1;
color:rgba(255,255,255,1);
line-height:0.240000rem;
font-size:0.240000rem;

}
.jian_kang_guan_li .bao_chi_gui_lv_zuo_xi____________________________________________________________  {
    position:absolute;
left:0.360000rem;
top:3.160000rem;
width:4.280000rem;
height:1.066667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.266667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .Rectangle_3465239_3  {
    position:absolute;
left:0.213333rem;
top:4.546667rem;
width:2.226667rem;
height:1.466667rem;
opacity:0.8999999761581421;
background:linear-gradient(0deg, rgba(246,250,255,1) 0%,rgba(246,250,255,1) 0%,rgba(255,255,255,1) 50.144895911216736%,rgba(255,255,255,1) 50.144895911216736%);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(173,180,212,0.30000001192092896);

}
.jian_kang_guan_li .Vector_175 .Vector_176  {
    fill:none;
width:0.346667rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,131,255,1) 0%,rgba(0,131,255,1) 0%,rgba(103,181,255,1) 100%,rgba(103,181,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_175 .Vector_177  {
    fill:none;
width:0.346667rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,131,255,1) 0%,rgba(0,131,255,1) 0%,rgba(103,181,255,1) 100%,rgba(103,181,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_175 .Vector_178  {
    fill:none;
width:0.346667rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,131,255,1) 0%,rgba(0,131,255,1) 0%,rgba(103,181,255,1) 100%,rgba(103,181,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_175 .Vector_179  {
    fill:none;
width:0.346667rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,131,255,1) 0%,rgba(0,131,255,1) 0%,rgba(103,181,255,1) 100%,rgba(103,181,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_175 .Vector_180  {
    fill:none;
width:0.346667rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,131,255,1) 0%,rgba(0,131,255,1) 0%,rgba(103,181,255,1) 100%,rgba(103,181,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .ge_xing_hua_gan_yu_fang_an_zhen_dui_xing_gai_shan_jian_kang_zhi_biao  {
    position:absolute;
left:0.360000rem;
top:5.293333rem;
width:1.933333rem;
height:0.480000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_3  {
    position:absolute;
left:0.813333rem;
top:4.866667rem;
width:1.253333rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .Rectangle_3465239_4  {
    position:absolute;
left:2.560000rem;
top:4.546667rem;
width:2.226667rem;
height:1.466667rem;
opacity:0.8999999761581421;
background:linear-gradient(0deg, rgba(245,255,251,1) 0%,rgba(245,255,251,1) 0%,rgba(255,255,255,1) 50.144895911216736%,rgba(255,255,255,1) 50.144895911216736%);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(173,180,212,0.30000001192092896);

}
.jian_kang_guan_li .Vector_181 .Vector_182  {
    fill:none;
width:0.293333rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,198,124,1) 0%,rgba(0,198,124,1) 0%,rgba(0,221,145,1) 100%,rgba(0,221,145,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_181 .Vector_183  {
    fill:none;
width:0.293333rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,198,124,1) 0%,rgba(0,198,124,1) 0%,rgba(0,221,145,1) 100%,rgba(0,221,145,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Vector_181 .Vector_184  {
    fill:none;
width:0.293333rem;
height:0.346667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(0,198,124,1) 0%,rgba(0,198,124,1) 0%,rgba(0,221,145,1) 100%,rgba(0,221,145,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .fan_kui_dang_tian_tou_xi_qing_kuang_______  {
    position:absolute;
left:2.706667rem;
top:5.293333rem;
width:1.933333rem;
height:0.480000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_4  {
    position:absolute;
left:3.106667rem;
top:4.866667rem;
width:0.840000rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .zu_45205_1 .ju_xing_2425_1  {
    position:absolute;
width:5.000000rem;
height:1.173333rem;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .ju_xing_2424_1  {
    position:absolute;
left:1.600000rem;
top:1.013333rem;
width:1.800000rem;
height:0.053333rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.040000rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_10 .Tab_Bar_11  {
    position:absolute;
width:1.000000rem;
height:0.773333rem;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_10 .Frame_1000006734_2 .Frame_1000006734_3  {
    position:absolute;
width:0.533333rem;
height:0.533333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_10 .Frame_1000006734_2 .Frame_20 .Frame_21  {
    position:absolute;
width:0.426667rem;
height:0.426667rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_10 .Frame_1000006734_2 .Frame_20 .Vector_185  {
    fill:rgba(221,221,221,1);
width:0.284455rem;
height:0.290655rem;
stroke-width:1;
position:absolute;
left:0.071109rem;
top:0.059798rem;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_10 .____Label_5  {
    position:absolute;
left:0.320000rem;
top:0.533333rem;
width:0.360000rem;
height:0.240000rem;
opacity:1;
color:rgba(161,161,161,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Tab_Bar_13  {
    position:absolute;
width:1.000000rem;
height:0.773333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_1000006736_5  {
    position:absolute;
width:0.533333rem;
height:0.533333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_23  {
    position:absolute;
width:0.453333rem;
height:0.453333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Frame_25  {
    position:absolute;
width:0.453333rem;
height:0.453333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_187  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_188  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_189  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_190  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_191  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .Frame_1000006736_4 .Frame_22 .Frame_24 .Vector_186 .Vector_192  {
    fill:rgba(0,198,137,1);
width:0.293333rem;
height:0.293333rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,198,137,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_12 .____Label_6  {
    position:absolute;
left:0.160000rem;
top:0.533333rem;
width:0.680000rem;
height:0.240000rem;
opacity:1;
color:rgba(0,198,137,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Tab_Bar_15  {
    position:absolute;
width:1.000000rem;
height:0.773333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Frame_1000006736_6 .Frame_1000006736_7  {
    position:absolute;
width:0.533333rem;
height:0.533333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Frame_1000006736_6 .Frame_26 .Frame_27  {
    position:absolute;
width:0.346667rem;
height:0.346667rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Frame_1000006736_6 .Frame_26 .Vector_193 .Vector_194  {
    fill:rgba(221,221,221,1);
width:0.281667rem;
height:0.302081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Frame_1000006736_6 .Frame_26 .Vector_193 .Vector_195  {
    fill:rgba(221,221,221,1);
width:0.281667rem;
height:0.302081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .Frame_1000006736_6 .Frame_26 .Vector_193 .Vector_196  {
    fill:rgba(221,221,221,1);
width:0.281667rem;
height:0.302081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_14 .____Label_7  {
    position:absolute;
left:0.160000rem;
top:0.533333rem;
width:0.680000rem;
height:0.240000rem;
opacity:1;
color:rgba(161,161,161,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .Tab_Bar_17  {
    position:absolute;
width:1.000000rem;
height:0.773333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .Frame_1000006737_4 .Frame_1000006737_5  {
    position:absolute;
width:0.533333rem;
height:0.533333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .Frame_1000006737_4 .wo_de_4 .wo_de_5  {
    position:absolute;
width:0.400000rem;
height:0.400000rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .Frame_1000006737_4 .wo_de_4 .Vector_197 .Vector_198  {
    fill:rgba(221,221,221,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .Frame_1000006737_4 .wo_de_4 .Vector_197 .Vector_199  {
    fill:rgba(221,221,221,1);
width:0.280000rem;
height:0.280000rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_16 .____Label_8  {
    position:absolute;
left:0.160000rem;
top:0.533333rem;
width:0.680000rem;
height:0.240000rem;
opacity:1;
color:rgba(161,161,161,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Tab_Bar_19  {
    position:absolute;
width:1.000000rem;
height:0.773333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Frame_1000006737_6 .Frame_1000006737_7  {
    position:absolute;
width:0.533333rem;
height:0.533333rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Frame_1000006737_6 .wo_de_6 .wo_de_7  {
    position:absolute;
width:0.400000rem;
height:0.400000rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Frame_1000006737_6 .wo_de_6 .Vector_200 .Vector_201  {
    fill:rgba(221,221,221,1);
width:0.277082rem;
height:0.291667rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Frame_1000006737_6 .wo_de_6 .Vector_200 .Vector_202  {
    fill:rgba(221,221,221,1);
width:0.277082rem;
height:0.291667rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(221,221,221,1);
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .Frame_1000006737_6 .wo_de_6 .Vector_203  {
    fill:rgba(255,255,255,1);
width:0.029167rem;
height:0.058333rem;
stroke-width:1;
position:absolute;
left:0.183854rem;
top:0.100000rem;
opacity:1;
background-color:rgba(255,255,255,1);
border-radius:0.120000rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45205_1 .Tab_Bar_18 .____Label_9  {
    position:absolute;
left:0.320000rem;
top:0.533333rem;
width:0.360000rem;
height:0.240000rem;
opacity:1;
color:rgba(161,161,161,1);
line-height:0.240000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45208 .ju_xing_2431  {
    position:absolute;
width:0.426667rem;
height:0.240000rem;
opacity:1;
background:linear-gradient(3.665495232364039deg, rgba(119,234,206,1) 79.68839885210058%,rgba(119,234,206,1) 79.68839885210058%,rgba(25,162,128,1) -33.37624683188296%,rgba(25,162,128,1) -33.37624683188295%);
border-radius:0.106667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45208 .zhong_yao  {
    position:absolute;
left:0.066667rem;
top:0.053333rem;
width:0.293333rem;
height:0.133333rem;
opacity:1;
color:rgba(255,255,255,1);
line-height:0.133333rem;
font-size:0.133333rem;

}
.jian_kang_guan_li .zu_45209 .ju_xing_2431_1  {
    position:absolute;
width:0.426667rem;
height:0.240000rem;
opacity:1;
background:linear-gradient(3.665495232364039deg, rgba(119,234,206,1) 79.68839885210058%,rgba(119,234,206,1) 79.68839885210058%,rgba(25,162,128,1) -33.37624683188296%,rgba(25,162,128,1) -33.37624683188295%);
border-radius:0.106667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45209 .zhong_yao_1  {
    position:absolute;
left:0.066667rem;
top:0.053333rem;
width:0.293333rem;
height:0.133333rem;
opacity:1;
color:rgba(255,255,255,1);
line-height:0.133333rem;
font-size:0.133333rem;

}
.jian_kang_guan_li .ju_xing_2426  {
    position:absolute;
left:0.213333rem;
top:6.386667rem;
width:2.226667rem;
height:1.466667rem;
opacity:1;
background-color:rgba(255,255,255,1);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(164,183,203,0.30000001192092896);

}
.jian_kang_guan_li .ju_xing_2428  {
    position:absolute;
left:0.213333rem;
top:7.973333rem;
width:2.226667rem;
height:1.466667rem;
opacity:1;
background-color:rgba(255,255,255,1);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(164,183,203,0.30000001192092896);

}
.jian_kang_guan_li .ju_xing_2427  {
    position:absolute;
left:2.560000rem;
top:6.386667rem;
width:2.226667rem;
height:1.466667rem;
opacity:1;
background-color:rgba(255,255,255,1);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(164,183,203,0.30000001192092896);

}
.jian_kang_guan_li .ju_xing_2429  {
    position:absolute;
left:2.560000rem;
top:7.973333rem;
width:2.226667rem;
height:1.466667rem;
opacity:1;
background-color:rgba(255,255,255,1);
border-radius:0.106667rem;
line-height:normal;
border-color:rgba(0,0,0,0);
border-width:0.013333rem;
border-style:solid;
box-shadow:0px 4px 0px rgba(164,183,203,0.30000001192092896);

}
.jian_kang_guan_li .cha_kan_ge_ren_jian_kang_xin_xi  {
    position:absolute;
left:0.386667rem;
top:6.866667rem;
width:1.306667rem;
height:0.160000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .cha_kan_ge_ren_jian_kang_xin_xi_1  {
    position:absolute;
left:0.386667rem;
top:8.453333rem;
width:1.306667rem;
height:0.160000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .cha_kan_ge_ren_jian_kang_xin_xi_2  {
    position:absolute;
left:2.733333rem;
top:6.866667rem;
width:1.306667rem;
height:0.160000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .cha_kan_ge_ren_jian_kang_xin_xi_3  {
    position:absolute;
left:2.733333rem;
top:8.453333rem;
width:1.306667rem;
height:0.160000rem;
opacity:1;
color:rgba(122,145,163,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_5  {
    position:absolute;
left:0.386667rem;
top:6.573333rem;
width:0.773333rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_6  {
    position:absolute;
left:0.386667rem;
top:8.160000rem;
width:0.773333rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_7  {
    position:absolute;
left:2.733333rem;
top:6.573333rem;
width:0.773333rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .chuan_dan_hua_ce_8  {
    position:absolute;
left:2.733333rem;
top:8.160000rem;
width:0.773333rem;
height:0.186667rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.186667rem;
font-size:0.186667rem;

}
.jian_kang_guan_li .zu_45210 .ju_xing_2432  {
    position:absolute;
width:0.560000rem;
height:0.293333rem;
opacity:1;
background-color:rgba(232,249,246,1);
border-radius:0.666667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45210 .cha_kan  {
    position:absolute;
left:0.106667rem;
top:0.066667rem;
width:0.346667rem;
height:0.160000rem;
opacity:1;
color:rgba(55,183,117,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45212 .ju_xing_2432_1  {
    position:absolute;
width:0.560000rem;
height:0.293333rem;
opacity:1;
background-color:rgba(232,249,246,1);
border-radius:0.666667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45212 .cha_kan_1  {
    position:absolute;
left:0.106667rem;
top:0.066667rem;
width:0.346667rem;
height:0.160000rem;
opacity:1;
color:rgba(55,183,117,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45211 .ju_xing_2432_2  {
    position:absolute;
width:0.560000rem;
height:0.293333rem;
opacity:1;
background-color:rgba(232,249,246,1);
border-radius:0.666667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45211 .cha_kan_2  {
    position:absolute;
left:0.106667rem;
top:0.066667rem;
width:0.346667rem;
height:0.160000rem;
opacity:1;
color:rgba(55,183,117,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .zu_45213 .ju_xing_2432_3  {
    position:absolute;
width:0.560000rem;
height:0.293333rem;
opacity:1;
background-color:rgba(232,249,246,1);
border-radius:0.666667rem;
line-height:normal;

}
.jian_kang_guan_li .zu_45213 .cha_kan_3  {
    position:absolute;
left:0.106667rem;
top:0.066667rem;
width:0.346667rem;
height:0.160000rem;
opacity:1;
color:rgba(55,183,117,1);
line-height:0.160000rem;
font-size:0.160000rem;

}
.jian_kang_guan_li .Group_1000007254 .Rectangle_3465283  {
    position:absolute;
left:0.167618rem;
top:0.168059rem;
width:0.259048rem;
height:0.258608rem;
opacity:1;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
border-radius:0.080000rem;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_205  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_206  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_207  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_208  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_209  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_204 .Vector_210  {
    fill:none;
width:0.388572rem;
height:0.425942rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(55,158,255,1) 0%,rgba(55,158,255,1) 0%,rgba(107,183,255,1) 100%,rgba(107,183,255,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007254 .Vector_211  {
    fill:rgba(255,255,255,1);
width:0.164488rem;
height:0.251489rem;
stroke-width:1;
position:absolute;
left:0.141814rem;
top:0.080467rem;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .Group_1000007257 .Ellipse_6183  {
    position:absolute;
left:0.193939rem;
top:0.197614rem;
width:0.232727rem;
height:0.229053rem;
opacity:1;
background:linear-gradient(0deg, rgba(255,55,58,1) 0%,rgba(255,55,58,1) 0%,rgba(255,107,110,1) 100%,rgba(255,107,110,1) 100%);
border-radius:0.114526rem;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007257 .Vector_212  {
    fill:none;
width:0.407273rem;
height:0.356304rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(255,55,58,1) 0%,rgba(255,55,58,1) 0%,rgba(255,107,110,1) 100%,rgba(255,107,110,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007258 .Rectangle_3465283_1  {
    position:absolute;
left:0.158025rem;
top:0.142222rem;
width:0.268642rem;
height:0.268642rem;
opacity:1;
background:linear-gradient(0deg, rgba(221,122,216,1) 0%,rgba(221,122,216,1) 0%,rgba(255,151,242,1) 100%,rgba(255,151,242,1) 100%);
border-radius:0.080000rem;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007258 .Vector_213 .Vector_214  {
    fill:none;
width:0.339753rem;
height:0.426667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(221,122,216,1) 0%,rgba(221,122,216,1) 0%,rgba(255,151,242,1) 100%,rgba(255,151,242,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007258 .Vector_213 .Vector_215  {
    fill:none;
width:0.339753rem;
height:0.426667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(221,122,216,1) 0%,rgba(221,122,216,1) 0%,rgba(255,151,242,1) 100%,rgba(255,151,242,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007258 .Vector_213 .Vector_216  {
    fill:none;
width:0.339753rem;
height:0.426667rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(221,122,216,1) 0%,rgba(221,122,216,1) 0%,rgba(255,151,242,1) 100%,rgba(255,151,242,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007258 .Vector_217  {
    fill:rgba(255,255,255,1);
width:0.172173rem;
height:0.174972rem;
stroke-width:1;
position:absolute;
left:0.083766rem;
top:0.180878rem;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Rectangle_3465283_2  {
    position:absolute;
left:0.172164rem;
top:0.172164rem;
width:0.254503rem;
height:0.254503rem;
opacity:1;
background:linear-gradient(0deg, rgba(26,207,144,1) 0%,rgba(26,207,144,1) 0%,rgba(62,228,184,1) 100%,rgba(62,228,184,1) 100%);
border-radius:0.080000rem;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Frame_29  {
    position:absolute;
width:0.381754rem;
height:0.381754rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_218 .Vector_219  {
    fill:none;
width:0.381754rem;
height:0.381754rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(26,207,144,1) 0%,rgba(26,207,144,1) 0%,rgba(62,228,184,1) 100%,rgba(62,228,184,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_218 .Vector_220  {
    fill:none;
width:0.381754rem;
height:0.381754rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(26,207,144,1) 0%,rgba(26,207,144,1) 0%,rgba(62,228,184,1) 100%,rgba(62,228,184,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_218 .Vector_221  {
    fill:none;
width:0.381754rem;
height:0.381754rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(26,207,144,1) 0%,rgba(26,207,144,1) 0%,rgba(62,228,184,1) 100%,rgba(62,228,184,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_218 .Vector_222  {
    fill:none;
width:0.381754rem;
height:0.381754rem;
stroke-width:1;
position:absolute;
background:linear-gradient(0deg, rgba(26,207,144,1) 0%,rgba(26,207,144,1) 0%,rgba(62,228,184,1) 100%,rgba(62,228,184,1) 100%);
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_223 .Vector_224  {
    fill:rgba(255,255,255,1);
width:0.233252rem;
height:0.220081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_223 .Vector_225  {
    fill:rgba(255,255,255,1);
width:0.233252rem;
height:0.220081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .Group_1000007259 .Frame_28 .Vector_223 .Vector_226  {
    fill:rgba(255,255,255,1);
width:0.233252rem;
height:0.220081rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(255,255,255,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_1739330102_3  {
    position:absolute;
width:5.000000rem;
height:1.186667rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164078_3  {
    position:absolute;
width:5.000000rem;
height:0.600000rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_164076_3  {
    position:absolute;
width:1.115551rem;
height:0.391109rem;
opacity:1;
background-color:rgba(255,255,255,0.15000000596046448);
border-radius:0.250000rem;
line-height:normal;
border-color:rgba(0,0,0,1);
border-width:0.013889rem;
border-style:solid;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_30 .Frame_31  {
    position:absolute;
width:0.279998rem;
height:0.279998rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_30 .Ellipse_2313_1  {
    position:absolute;
left:0.023294rem;
top:0.116654rem;
width:0.046666rem;
height:0.046666rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.023333rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_30 .Ellipse_2315_1  {
    position:absolute;
left:0.209987rem;
top:0.116654rem;
width:0.046666rem;
height:0.046666rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.023333rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_30 .Ellipse_2314_1  {
    position:absolute;
left:0.099154rem;
top:0.099154rem;
width:0.081666rem;
height:0.081666rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.040833rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Line_70_1  {
    fill:rgba(249,249,249,1);
stroke:rgba(0,0,0,1);
height:0.222222rem;
stroke-width:1;
position:absolute;
left:0.557776rem;
top:0.084443rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
border-color:rgba(0,0,0,1);
border-width:0.006944rem;
border-style:solid;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_164077_2 .Frame_164077_3  {
    position:absolute;
width:0.279998rem;
height:0.279998rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_164077_2 .Frame_164073_2 .Frame_164073_3  {
    position:absolute;
width:0.244999rem;
height:0.244998rem;
opacity:1;
background-color:rgba(249,249,249,1);
line-height:normal;
overflow:hidden;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_164077_2 .Frame_164073_2 .Ellipse_2311_1  {
    position:absolute;
left:0.081673rem;
top:0.086784rem;
width:0.076562rem;
height:0.076561rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.038281rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .Frame_164076_2 .Frame_164077_2 .Frame_164073_2 .Ellipse_2312_1  {
    position:absolute;
left:0.020436rem;
top:0.020391rem;
width:0.204164rem;
height:0.204164rem;
opacity:1;
background-color:rgba(249,249,249,1);
border-radius:0.102082rem;
line-height:normal;
border-color:rgba(0,0,0,1);
border-width:0.012760rem;
border-style:solid;

}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .tu_ceng_0_4_1  {
    
}
.jian_kang_guan_li .Frame_1739330102_2 .Frame_164078_2 .____2  {
    position:absolute;
left:2.000000rem;
top:0.133333rem;
width:0.986667rem;
height:0.293333rem;
opacity:1;
color:rgba(51,51,51,1);
line-height:0.288000rem;
font-size:0.240000rem;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1  {
    position:absolute;
left:0.106667rem;
width:4.800000rem;
height:0.560000rem;
opacity:1;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Notch .Notch_1  {
    fill:rgba(0,0,0,1);
width:2.803200rem;
height:0.384000rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Battery .Rectangle  {
    fill:rgba(0,0,0,1);
stroke:rgba(0,0,0,1);
width:0.281600rem;
height:0.145067rem;
stroke-width:1;
position:absolute;
opacity:0.3499999940395355;
border-radius:0.034133rem;
line-height:normal;
border-color:rgba(0,0,0,1);
border-width:0.012800rem;
border-style:solid;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Battery .Combined_Shape  {
    fill:rgba(0,0,0,1);
width:0.016999rem;
height:0.051200rem;
stroke-width:1;
position:absolute;
left:0.294400rem;
top:0.046934rem;
opacity:0.4000000059604645;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Battery .Rectangle_1  {
    fill:rgba(0,0,0,1);
width:0.230400rem;
height:0.093867rem;
stroke-width:1;
position:absolute;
left:0.025600rem;
top:0.025600rem;
opacity:1;
background-color:rgba(0,0,0,1);
border-radius:0.014080rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Wifi .Wifi_1  {
    fill:rgba(0,0,0,1);
width:0.195486rem;
height:0.140359rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Wifi .Wifi_2  {
    fill:rgba(0,0,0,1);
width:0.195486rem;
height:0.140359rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Wifi .Wifi_3  {
    fill:rgba(0,0,0,1);
width:0.195486rem;
height:0.140359rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Mobile_Signal .Mobile_Signal_1  {
    fill:rgba(0,0,0,1);
width:0.217600rem;
height:0.136533rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Mobile_Signal .Mobile_Signal_2  {
    fill:rgba(0,0,0,1);
width:0.217600rem;
height:0.136533rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Mobile_Signal .Mobile_Signal_3  {
    fill:rgba(0,0,0,1);
width:0.217600rem;
height:0.136533rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Right_Side .Mobile_Signal .Mobile_Signal_4  {
    fill:rgba(0,0,0,1);
width:0.217600rem;
height:0.136533rem;
stroke-width:1;
position:absolute;
opacity:1;
background-color:rgba(0,0,0,1);
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Left_Side ._Time ._Time_1  {
    position:absolute;
width:0.691200rem;
height:0.268800rem;
opacity:1;
background-color:rgba(249,249,249,1);
border-radius:0.307200rem;
line-height:normal;

}
.jian_kang_guan_li .Frame_1739330102_2 .Status_Bar_1 .Left_Side ._Time ._9_41  {
    position:absolute;
left:-0.013333rem;
top:0.012800rem;
width:0.717867rem;
height:0.256000rem;
opacity:1;
color:rgba(0,0,0,1);
line-height:0.256000rem;
font-size:0.192000rem;

}